# Décommenter si docker non-utilisé (NODE_ENV || development || staging || production)
# NODE_ENV=development
# DATABASE_URL_DEV = 
# DATABASE_URL_STAGING = 
# DATABASE_URL_PRODUCTION = 
HOST = localhost
PORT=3000
ACCESS_TOKEN_SECRET = 
REFRESH_TOKEN_SECRET = 
CORS_DOMAINS=localhost
API_DOCUMENTATION_ROUTE=/api-docs