node_modules

#env
.env

#docs local
docs

#sqitch
sqitch.conf

# test
coverage

# logger: on exclus tout les fichiers du repo log
log/*
# on garde le .gitkeep pour obliger a commit le folder log
!log/.gitkeep